@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color--resultado:#ffffff;
    --color--fondo: #F3F5FC;
    --color--bto1: #0A3871;
    --color--bto2: #D8DFE8;
    --color--alerta: #f80808;
    --fuente: "Inter", sans-serif;
}



* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: var(--fuente);
    background-color: var(--color--fondo) ;
    color: var(--color--bto1);
    margin: 5px;
}
.header{

    padding: 2% 0% 0% 15%;

}

.main{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2px;
}
.alerta{
    color: var(--color--alerta);
}

.campo_texto{
    box-sizing: border-box;
    font-family: var(--fuente);
    font-size: 20px;
    width: 450px;
    height: 380px;
    margin: 10px;
    padding: 25px;
    background-color: var(--color--fondo);
    border: 5px var(--color--fondo);
    border-radius: 15px;
    color: var(--color--bto1);
}
.resultado{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;


}
.campo_resultado{
   
    font-family: var(--fuente);
    font-size: 20px;
    width: 250px;
    height: 450px;
    margin: 10px;
    padding: 25px;
    background-color: var(--color--resultado);
    border: 5px var(--color--fondo);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: right 60px top 180px; /* Ajusta la posición según tus necesidades */
    background-size: 200px 200px;

}


.botones{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.reglas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--fuente);
    font-size: 10px; 
    color: var(--color--bto1);
    gap: 7px;
     
}

.bto1{
  padding: 15px 40px;
  font-family: var(--fuente);
  font-size: 12px;
  background-color: var(--color--bto1);
  color: var(--color--resultado);
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  
}
.bto1:hover{
    background-color: #1b3c64;
}
.bto2{
    
  padding: 15px 40px;
  font-family: var(--fuente);
  font-size: 12px;
  background-color: var(--color--bto2);
  color: var(--color--bto1);
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  
}
.bto2:hover{
    background-color: #eaedf1;
}
.presentacion__enlaces__link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--color--bto1);  
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color);
    font-family: var(--fuente);
}

.presentacion__enlaces__link:hover{
  background-color: #315683;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color:var(--color--resultado);
    background-color: var(--color--bto1);
    padding: 20px;
    text-align: center;
    font-family: var(--fuente);
    font-size: 1rem;
    font-weight: 400;
}